[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
esptool = "*"
flask = "*"
machine = "*"
network = "*"

[dev-packages]
mpy-cross = "*"
pytest = "*"

[requires]
python_version = ">=3.7"
